.vm-header-bar.o-grid
    link(href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet")
    link(rel='stylesheet', href='./public/vendor/blaze/dist/blaze.min.css')
    link(rel='stylesheet', href='./public/css/header-bar.css')

    .o-grid__cell.o-grid__cell--width-100
        .content
            img.vitumob-left-logo(src="http://res.cloudinary.com/dpmk2cnpi/image/upload/v1483877198/vm-tag_l5kop4.png")
            span Click here to checkout with 
            img.vitumob-left-logo(src="http://res.cloudinary.com/dpmk2cnpi/image/upload/v1483876646/vm-logo_hsvchn.png")
