.vm-modal-box.o-grid.o-grid--wrap
    link(href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet")
    link(rel='stylesheet', href='./public/vendor/blaze/dist/blaze.min.css')
    link(rel='stylesheet' href='./public/css/modal-box.css')

    .vm-overlay.c-overlay.c-overlay--fullpage
    .vm-card.o-grid__cell.o-grid__cell--width-100.o-grid__cell--offset-0(class="o-grid__cell--width-33@medium o-grid__cell--offset-35@medium")
        .c-card.c-card--higher
            img.vitumob-left-logo(src="http://res.cloudinary.com/dpmk2cnpi/image/upload/v1483876646/vm-logo_hsvchn.png")
            .c-card__header
                | Checking out your cart now
                .c-heading__sub from victoriassecret.com
            .c-card__body
                p.c-paragraph Doing some work here...
            .c-card__footer.c-card__footer--block
                .c-input-group
                    button.c-button.c-button--block.c-button--brand Cancel
                    button.c-button.c-button--block.c-button--info Okay
